Checks: >
  clang-analyzer-*,
  bugprone-*,
  cert-*,
  performance-*,
  portability-*,
  misc-*,
  readability-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-function-cognitive-complexity,
  -readability-braces-around-statements,
  -readability-inconsistent-ifelse-braces,
  -readability-isolate-declaration,
  -bugprone-easily-swappable-parameters,
  -bugprone-casting-through-void,
  -bugprone-assignment-in-if-condition,
  -misc-no-recursion,
  -misc-include-cleaner,
  -misc-header-include-cycle
WarningsAsErrors: ''
HeaderFilterRegex: 'src/.*\.h$'
FormatStyle: none

